.hero-img {
  background-image: 
    url("./assets/istockphoto-887755698-612x612.jpg");
  background-size:cover;
}

#cardA #cardB::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 0;
}

 

.bigText {
  font-size: 1.7em;
  padding-right: 5px;
}


